.imageSlider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 850px;
  border-radius: 12px;
}

#left {
  position: absolute;
  top: 200px;
  left: 1250px;
  color: white;
  background-color: #746656;
  border: none;
  width: 29px;
  height: 29px;
}
#right {
  position: absolute;
  top: 200px;
  left: 550px;
  color: white;
  background-color: #746656;
  border: none;
  width: 29px;
  height: 29px;
}

#left:hover,
#right:hover {
  background-color: #434340;
  color: rgb(30, 17, 17);
}
.btnWrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 20px;
}

.btn {
  border: none;
  padding: 16px 22px;
  border-radius: 8px;
  background-color: #7e6c56;
  color: white;
}
.btn:hover {
  background-color: #f0dec8;
  color: #7e6c56; 
}
